#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tamagotchiContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  padding: 2em;
}

.tamagotchiIcon {
  height: 6em;
  image-rendering: pixelated;
}

.circularGlow {
  height: 15em;
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at center,
    rgba(20, 250, 90, 0.22) 0%,
    rgba(20, 250, 90, 0.12) 20%,
    rgba(20, 250, 90, 0.06) 40%,
    rgba(20, 250, 90, 0) 75%
  );
  background-repeat: no-repeat;
  background-position: center;
}
